{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to JotaFM Blog {% endblock %}</h1>
    {% for post in posts %}
        <a class = "link title" href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <div class="info">
            <span class="badge badge-primary p-1">{{ post['created'] }}</span>
            <a href="{{ url_for('edit', id=post['id']) }}" class="d-flex justify-content-center align-items-center">
                <span class="badge badge-warning p-1">Edit</span>
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}